body {
    text-align: center;
    
}

.header-btn{
    display: inline-block;
    max-width: 30%;
    margin: auto;
    display: flex;
    justify-content:space-between;
    
}
button {
    position: relative;
    background-color: rgb(185, 224, 255);
    border: none;
    padding: 10px;
    font-weight: bold;
    top: 0;
    transition: 600ms ease-out;
}

button:hover {
    cursor: pointer;
    top: -15px;
}