* {
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    background-color: #252525;
    color:#FFFAFA;
}


.nav-bar-container {

    background-color: rgb(185, 225, 240);
    margin-top: auto;

    ;
}

.header-btn {
    display: flex;
    flex-direction: column;
    flex-direction: row-reverse;
    margin-block: -1%;
    gap: 20px;

}

button {
    position: relative;
    background-color: transparent;
    border: none;
    padding: 10px;
    font-weight: bold;
    scale: 1;
    color: black;
    transition: 600ms ease-out;
}

button:hover {
    cursor: pointer;
    scale: 1.1;
    color: rgb(181, 191, 252);
}



main {

    display: inline-block;
    background-color: #2F3651;
    padding: 15px;
    width: 350px;
    border-radius: 15px;

}

form {

    display: grid;
    grid-template-rows: repeat(3, 20px);
    gap: 2px;
    max-width: 50%;
    max-height: 50%;
    place-content: center;
    margin: auto;
    text-align: center;


}

#text-color,
#bg-color {
    margin: auto;
}

#dob,
#tob {
    text-align: center;
}

.set-bt {
    
    margin-top: 10px;
}